MYSQL_DATABASE=uolcompass_db
MYSQL_USER=admin
MYSQL_PASSWORD=admin123
MYSQL_ROOT_PASSWORD=rootadmin123

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=admin
RABBITMQ_PASSWORD=admin

REDIS_HOST=localhost
REDIS_PORT=6379
